form.form_añadir{
  width: 25%;
  position: relative;
  justify-content: center;
  text-align: center;
  top: 20px;
  position: relative;
  left: 37%;
  background-image:linear-gradient(#f7f1e3,#227093);
  border: solid 2px #130f40;
  border-radius: 10px;
  padding-top: 5px;
  color: #30336b;
  height: 440px;
}

.content{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  top: 10px;
  position: relative;
}

.logo{
  text-align: center;
  left: 50%;
  height: 100px;
}

.logo img{
  width: 90px;
  padding-top: 10px;
}

form input{
 border-radius: 5px;
 color:#596275;
 width: 60%;
 left: 20%;
 position: relative;
}

body{
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/esen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100%;

}

body::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
}

*{
  margin: 0px;
	padding: 0px;
	box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

button{
  width: 20%;
  position: relative;
  left: 36%;
  top: 30px;
  width: 90px;
  border-radius: 20px;
  height: 40px;
  background-color: #ecf0f1;
}

div > label{
  padding: 5px;
}

h2{
  padding-top: 20px;
}

button:hover{
background-color: #2c3e50;
color: #ffff;
transition: 0.2s linear;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
  resize: none;
  border-radius: 10px;
}

select{
  width: 200px;
  margin: 0 auto;
}

.back{
    filter: invert(21%) sepia(14%) saturate(4768%) hue-rotate(197deg) brightness(90%) contrast(91%); 
}
.back{
    position: absolute;
    left: 480px;
    top: 500px;
}


