*{
   font-family: 'Montserrat', sans-serif;
}
.thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 0;
}

.thumbnails li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.thumbnails a { display: block; }

.thumbnails img {
  width: 30vmin;
  height: 20vmin;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

ul{
  list-style: none;
}

.Principal{
  float: left;
  padding-right: 50px;
}

.AcompaÃ±antes{
  float: left;
  padding-right: 50px;
}

.Bebidas{
   float: left;
}
div{
  left: 7%;
  position: relative;
}

#Frame{
  width: 300px;
  height: 525px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  top: 60px;
}

.Slider{
  animation-name: animacion;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes animacion {
0% {bottom: 0 ;}
19% { bottom: 0; }
27% { bottom: 180px; }
46% { bottom: 180px; }
54% { bottom: 355px; }
62% { bottom: 355px; }
81% { bottom: 530px; }
100% { bottom: 530px; }

}

div img{
  height: 175px;
  width: 200px;
  font-size: 0;
}

.titulo1{
  position: relative;
  top: 25px;
  right: 53%;
  padding-bottom: 15px;
}

.titulo2{
  position: relative;
  top: 25px;
  right: 39%;
}

.titulo3{
  position: relative;
  top: 25px;
  right: 24%;
}

#fwd{
  position: absolute;
  width: 80px;
  height: 80px;
  filter: invert(17%) sepia(52%) saturate(3556%) hue-rotate(217deg) brightness(93%) contrast(90%);
  top: 73.3%;
  right: 8%;
}

#fwd:hover{
  filter: invert(52%) sepia(23%) saturate(5046%) hue-rotate(130deg) brightness(92%) contrast(87%);
}

#warning{
  filter: invert(17%) sepia(52%) saturate(3556%) hue-rotate(217deg) brightness(93%) contrast(90%);
 width: 55px;
 height: 55px;
 top: 120px;

}

.aviso{
  float: left;
  display: block;
  width: 150px;
  text-align: center;
  top: 60px;
  border: 3px solid #808e9b;
  border-radius: 10px;
  padding: 10px;
}

body{
}
